In [7]:
print((5+2)*(12/4))

21.0

In [2]:
print(11/3)
print(11//3)

3.6666666666666665
3

In [8]:
print(2**5)

32

In [4]:
print (11%3)

2

In [5]:
print(3%11)

3

In [10]:
x=3
print('the x value is',x)

the x value is 3

In [11]:
print(bin(4))

0b100

In [12]:
12|4

12

In [13]:
bin(12|4)

'0b1100'

In [14]:
bin(12)

'0b1100'

In [15]:
bin(12^4)

'0b1000'

In [17]:
bin(12&4)

'0b100'

In [36]:
a=2
a+=2
print(a)

4

In [37]:
b=5
a*=b
print(a)

20

In [38]:
c=10
a**=c
print(a)

10240000000000

In [44]:
13%2==1

True

In [45]:
72%2==1

False

In [46]:
a=63
50<a<100

True

In [51]:
x=6
1<x<7

True

In [52]:
(x>=1) and (x<=7)

True

In [53]:
(x>=1) or (x<=5)

True

In [54]:
not(x<1)

True

In [55]:
a=1
b=2
a is b

False

In [56]:
a is not b

True

In [58]:
a=[4,5,6]
b=[4,5,6]
a is b

False

In [59]:
a is not b

True

In [62]:
'4' in a

False

In [63]:
'5' not in a

True

In [64]:
4 in a

True

In [65]:
a==[4,5,6]
b==a

True

In [66]:
a is b

False

In [67]:
b is a

False

In [68]:
a = b

In [69]:
b=a

In [70]:
a is b

True

In [72]:
print (a)

[4, 5, 6]

In [73]:
b=[3,4,5]

In [74]:
print(a)

[4, 5, 6]

In [75]:
print(b)

[3, 4, 5]

In [76]:
a=b

In [77]:
print(a)

[3, 4, 5]

In [78]:
x=1
type(x)

int

In [79]:
x=1.5
type(x)

float

In [80]:
type(7/3)

float

In [81]:
7//3

2

In [82]:
25*1.0

25.0

In [83]:
0.000007 == 7e-6

True

In [84]:
0.7==7e-6

False

In [85]:
0.7==7e-1

True

In [86]:
float(25)

25.0

In [89]:
c=complex(4,5)
print(c)

(4+5j)

In [90]:
c.real

4.0

In [91]:
c.imag

5.0

In [92]:
c.conjugate()

(4-5j)

In [95]:
abs(c)

6.4031242374328485

In [96]:
a='i am a very clever boy!'

In [97]:
len(a)

23

In [105]:
a.upper()

'I AM A VERY CLEVER BOY!'

In [102]:
type(None)

NoneType

In [103]:
value=print('abc')

abc

In [104]:
print(value)

None