In [1]:
a=[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [5]:
for i in range(len(a)):
    print(a[i])

1
2
3
4
5

In [20]:
a=[]
for i in range(1,6):
    print(i, end=' ')

1 2 3 4 5

In [ ]:
a=[1,2,3,4,5]

In [21]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [22]:
for N in range (3,31,3):
    print(N)

3
6
9
12
15
18
21
24
27
30

In [24]:
total=0
for N in range(1,6):
    total +=N
print(total)

15

In [25]:
places = ['a','b','c']
newplace=[]
for place in places:
    newplace.append(place.capitalize())